services:
  db:
    image: postgres:16-alpine
    container_name: shortener_db
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    networks:
      - internal

  redis:
    image: redis:8-alpine
    container_name: shortener_redis
    ports:
      - "${REDIS_PORT:-6379}:6379"
    networks:
      - internal
networks:
  internal:
    driver: bridge